@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap");
.text {
  margin-left: 100px;
  margin-top: 30px;
  font-family: "Raleway";
}
.main {
  font-weight: 800;
  color: #04151f;
  font-size: 20px;
}
.tag {
  max-width: 200px;
  font-weight: 300;
  font-size: 15px;
  color: #707070;
}
.icons {
  margin-left: 80px;
}
.icons img {
  height: 40px;
  width: 35px;
  margin: 7px;
}
.container {
  display: flex;
  max-width: 100%;
}
.gridRight {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transform: translateY(-100px);
}
@media only screen and (max-width: 1300px) {
  .text {
    margin: 0;
  }
  .container {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gridRight {
    transform: translateY(0);
    display: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
